<nav>
    <div class="logo">
      <img src="../assets/img/fc-logo.png" alt="FC-LOGO" />
      <p>Fergusson College <br />(Auotonomous),Pune</p>
    </div>
    <ul class="home-ul">
      <a href="/"><li>Home</li></a>
      <a href="/"><li>About</li></a>
      <a href="/"><li>Features</li></a>
      <a href="/"><li>Dashboard</li></a>
    </ul>
    <ul class="sign-up">
      <a href="/"><li class="sign-up-li">Sign Up</li></a>
      <li class="sign-in-li"><a href="/">Log In</a></li>
    </ul>
  </nav>
