<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
  </head>
  <body>
    <div class="" id="layer"></div>
    <div id="loginBox" class="loginBox">
      <div id="cros">&times;</div>
      <div class="row2">
        <div id="sign-up" class="profile2">
          <a href="/student-login">
            <img src="../assets/img/meeting-2.png" alt="" />
            <p>Student Login</p>
          </a>
        </div>
        <div class="profile2">
          <a href="/teacher-login"
            ><img src="../assets/img/meeting-3.png" alt="" />
            <p>Teacher Login</p></a
          >
        </div>
      </div>
      <div class="row2">
        <div id="sign-up" class="profile2">
          <a href="/alumni-login">
            <img src="../assets/img/meeting-2.png" alt="" />
            <p>Alumni Login</p>
          </a>
        </div>
        <div class="profile2">
          <a href="/admin-login"
            ><img src="../assets/img/meeting-3.png" alt="" />
            <p>Admin Login</p></a
          >
        </div>
      </div>
    </div>
    <!-- Navbar  -->
    <nav>
      <div class="logo">
        <img src="../assets/img/fc-logo.png" alt="FC-LOGO" />
        <p>Fergusson College <br />(Autonomous),Pune</p>
      </div>
      <ul class="home-ul">
        <a href="#"><li>Home</li></a>
        <a href="#about"><li>About</li></a>
        <a href="#features"><li>Features</li></a>
        <a href="#dashboard"><li>Dashboard</li></a>
      </ul>
      <ul class="sign-up">
        <a href="#dashboard"><li class="sign-up-li">Sign Up</li></a>
        <a><li id="loginBTN" class="sign-in-li">Log In</li></a>
      </ul>
    </nav>
    <!-- hero section  -->
    <main>
      <div class="left-hero">
        <h2>
          Welcome to Your <br />
          <p>Educational Community</p>
        </h2>
        <p>
          Connecting Teachers, Students And Alumni Unlocking Knowledge and
          Opportunities
        </p>
        <button>
          Explore <img src="../assets/img/arrow.png" alt="arrow" />
        </button>
      </div>
      <div class="right-hero">
        <img class="mySlides" src="assets/img/group-1.png" alt="group-1" />
        <img class="mySlides" src="assets/img/group-2.jpg" alt="group-2" />
        <img class="mySlides" src="assets/img/group-3.jpg" alt="group-3" />
        <img class="mySlides" src="assets/img/group-4.jpeg" alt="group-4" />
        <img class="mySlides" src="assets/img/group-5.jpeg" alt="group-5" />
      </div>
    </main>
    <section class="Mid-area">
      <h2 id="about">About us</h2>
      <div class="mid-containt">
        <div class="mid-left">
          Welcome to FC Hub, the dedicated educational platform of Fergusson
          College, Pune! Here, we cater to the needs of students, faculty, and
          esteemed alumni through personalized dashboards. Whether you're a
          student managing coursework, a teacher accessing resources, or an alum
          reconnecting with your alma mater, FC Hub is your go-to destination.
          Our mission is to facilitate seamless interaction and support the
          educational journey of every member of the Fergusson College family.
          Join us in embracing innovation and fostering lifelong learning within
          our college community at FC Hub!
        </div>
        <div class="mid-right">
          <img src="assets/img/meeting-logo.jpg" alt="" />
        </div>
      </div>
    </section>

    <section class="mid-area-2">
      <h2 id="features">Features</h2>
      <ul>
        <li>
          <img class="icon" src="../assets/icons/icon.png" alt="" />Connect with
          experienced teachers for guidance and mentorship
        </li>
        <li>
          <img class="icon" src="../assets/icons/icon.png" alt="" />Collaborate
          with fellow students on projects and assignments
        </li>
        <li>
          <img class="icon" src="../assets/icons/icon.png" alt="" />Access a
          network of alumni who can offer career insights and support
        </li>
        <li>
          <img class="icon" src="../assets/icons/icon.png" alt="" />Explore a
          library of educational resources and articles.
        </li>
        <li>
          <img class="icon" src="../assets/icons/icon.png" alt="" />Stay updated
          with the latest news and achievements in education.
        </li>
      </ul>
    </section>

    <section class="mid-area-3">
      <h2>What Our Users Say</h2>
      <div class="mid-area-container">
        <div class="odd-person">
          <img id="first-img" src="assets/img/om.png" alt="" />
          <img id="first-cote" src="assets/icons/cote.png" alt="" />
          <p>
            This is a amazing platform for me to connect with my teacher and old college friends and have chat about college things
          </p>
          <h2>-Om Pansare, Alumni</h2>
        </div>
        <div class="even-person">
          <img id="second-img" src="assets/img/aman2.png" alt="" />
          <img id="second-cote" src="assets/icons/cote.png" alt="" />
          <p>
            Your website has been a game-changer for me. I found amazing teachers who guided me throughout my studies."
          </p>
          <h2>-Aman Agrawal, Student</h2>
        </div>
        <div class="odd-person">
          <img id="third-img" src="assets/img/md.jpg" alt="" />
          <img id="third-cote" src="assets/icons/cote.png" alt="" />
          <p>
            Best platform for teacher to share notes and also connect with the previous batch students
          </p>
          <h2>-Muddassar Shaikh, Alumni</h2>
        </div>
      </div>
    </section>

    <!-- middle section 4 -->
    <section class="mid-area-4">
      <h2 id="dashboard">Dashboards</h2>
      <div class="dash-photos">
        <div class="row">
          <div id="sign-up" class="profile">
            <a href="/student-code">
              <img src="../assets/img/meeting-2.png" alt="" />
              <p>Student Dashboard</p>
            </a>
          </div>
          <div class="profile">
            <a href="/alumni-code"
              ><img src="../assets/img/meeting-3.png" alt="" />
              <p>Alumni Dashboard</p></a
            >
          </div>
        </div>
        <div class="row">
          <div class="profile">
            <a href="/teacher-code">
              <img src="../assets/img/meeting-4.png" alt="" />
              <p>Teacher Dashboard</p></a
            >
          </div>
          <div class="profile">
            <a href="/admin-code"
              ><img src="../assets/img/meeting-5.png" alt="" />
              <p>Admin Dashboard</p></a
            >
          </div>
        </div>
      </div>
    </section>

    <footer>
      <img src="assets/img/main-bilding-2.png" alt="" />
      <div class="footer-info">
        <p>Fergusson College (Auotonomous),Pune</p>
        <h2>Educational Community</h2>
        <ul>
          <a href="#"><li>Home</li></a>
          <a href="#about"><li>About</li></a>
          <a href="#features"><li>Features</li></a>
          <a href="#dashboard"><li>Dashboard</li></a>
        </ul>
        <h5>Address :Fergusson College, F.C. Road, Pune 411004</h5>
      </div>
    </footer>
    <script>
      document.getElementById("loginBTN").addEventListener("click", () => {
        document.getElementById("layer").classList.add("layer-active");
        document.getElementById("loginBox").classList.add("loginBoxActive");
        document.getElementById("loginBox").classList.remove("loginBox");
      });
      document.getElementById("cros").addEventListener("click", () => {
        document.getElementById("layer").classList.remove("layer-active");
        document.getElementById("loginBox").classList.remove("loginBoxActive");
        document.getElementById("loginBox").classList.add("loginBox");
      });

      var myIndex = 0;
      carousel();
      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
          myIndex = 1;
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2000);
      }
    </script>
  </body>
</html>
