@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}
nav {
  width: 90dvw;
  margin: auto;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 100px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.logo > img {
  width: 50px;
  cursor: grab;
}

a {
  cursor: pointer;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.home-ul {
  width: 582px;
  height: 50px;
  background: #ececec;
  top: 23px;
  left: 280px;
  border-radius: 40px;
  align-items: center;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
}

.home-ul > a {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style-type: none;

  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.home-ul > a:hover {
  background-color: #f1ca00;
}

.sign-up {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.sign-up > a,
.sign-up li {
  cursor: pointer;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 150px;
  height: 50px;
  top: 23px;
  left: 1216px;
  gap: 0px;
  opacity: 0px;
  list-style-type: none;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.sign-up-li {
  background-color: #f1ca00;
}
.sign-up-li:hover {
  background-color: white;
  border: 1px solid #f1ca00;
}
.sign-in-li {
  background-color: white;
  border: 1px solid #f1ca00;
}
.sign-in-li:hover {
  background-color: #f1ca00;
}

/* main section  */

main {
  width: 90dvw;
  margin: auto;
  height: 500px;
}

#check-teacher {
  background-color: #ececec;
  width: 600px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 30px;
  align-items: center;
}
.check-teacher {
  width: 600px;
  height: 300px;
}

.check-teacher-active {
  transform: translate(50%, 50%) scale(0);
}

#check-t > input {
  width: 400px;
  padding: 0 5px;
  text-align: center;
  border: 0;
  font-size: large;
  border-radius: 5px;
  height: 35px;
}
#check-t #submit {
  height: 40px;
  cursor: pointer;
  background-color: #f1ca00;
}
#check-t > input:focus {
  outline: 0;
}

label {
  font-size: xx-large;
}

#cros {
  position: absolute;
  right: 30px;
  top: 1px;
  cursor: pointer;
  color: #726f6f;
  font-size: 40px;
}



.layer-active {
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.layer2-active {
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h2{
  text-align: center;
  margin-top: 20px;
  
}
#class {
	background: yellow;
	outline: 0;
	border: 0;
	width: 50%;
	border-radius: 7px;
	padding: 4px 16px;
	font-size: 16px;
}
#teacher-login-form {
	width: 800px;
	height: 800px;
	margin: 10px auto 30px;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-item,
label {
  display: flex;
  justify-content: center;
  width: 58%;
  background: #f1ca00;
  border-radius: 5px;
  padding: 5px;
  margin: auto;
  color: #646262;
  font-size: 20px;
  text-align: start;
  line-height: 30px;
  font-weight: 300;
}
.form-item > input {
  width: 450px;
  font-size: large;
  padding-left: 5px;
  background: transparent;
  border: 0;
}
.form-item > input:focus {
  outline: 0;
}
#submit-teacher-form {
  width: 58%;
  height: 30px;
  margin: 20px 0;
}

#submit-teacher-form:hover {
  background: #f1ca00;
  border: 0;
  outline: 0;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

#title {
  text-align: center;
  margin: 30px;
  font-size: 30px;
}
#check-t {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#check-t > label{
  margin: 0 auto;
  margin: 20px 0;
}
#check-t > input{
  width: 400px;
  margin: 20px 0;
}

